@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
header {
  height: 100vh;
  width: 100%;
  background-image: url(/img/index/Symbol.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  padding: 5% 10%;
}

#desktopNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navSection {
  .subNav {
    text-align: right;
    margin-bottom: 5%;
    .langBut {
      padding: 10px;
      background-color: red;
    }
    span {
      color: white;
    }
    a {
      color: white;
    }
  }
}
.headerAdd {
  position: absolute;
  margin-top: 28vh;
  margin-left: 25vw;
  height: 5vh;
  width: 50%;
  h1 {
    color: white;
  }
}
#intro {
  width: 100%;
  height: 100vh;

  border-radius: 0px 0px 12px 12px;
  width: 100%;
  .introWrap {
    margin-top: 5%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .introColor {
      border: 4px solid rgba(255, 255, 255, 0.3);
    }
  }
  .introLinks {
    text-align: right;
    h1 {
      width: 30vw;
      color: #b3b3ba;
      font-weight: 700;
      padding: 5% 5%;
    }
    h1:hover {
      -webkit-transition: background 1s ease-out;
      background: -webkit-linear-gradient(
        90.13deg,
        #ef8080 0.84%,
        #f0145a 99.96%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .introText {
    padding: 5%;
    h2 {
      color: white;
    }
    p {
      margin-top: 5%;
      color: white;
      font-size: 1.3rem;
    }
  }
}
